<nav>

    <h4>Navigation</h4>

    <ul>
        <li><a asp-controller="Shop" asp-action="Index">Home</a></li>
        <li><a asp-controller="Shop" asp-action="Categories" asp-route-id="2">Laptops</a></li>
        <li><a asp-controller="Shop" asp-action="Categories">All Products</a></li>
        <li><a asp-controller="Shop" asp-action="Cart">View Cart</a></li>
    </ul>
    
    @* if logged in:  *@
    <a id="go-notch-button" class="btn btn-primary" asp-area="Notch" asp-controller="Products" asp-action="Index">Go to Notch</a>

</nav>