@using Logic.Helpers.TreeView
@using Microsoft.AspNetCore.Html

@model Node



<span>@Model.Entity.Name</span>
@foreach (Node subNode in Model.SubNodes)
{
    <li>
        @Html.Partial("_CategorySelectList", subNode)
    </li>
}




@* @{ *@
@*     Func<List<Node>, IHtmlContent> ShowTree = @<text>@{ *@
@* *@
@*     <ul> *@
@*         @foreach (Node node in item) *@
@*         { *@
@*             <li> *@
@*                 @node.Entity.Name *@
@*                 @if (node.SubNodes.Any()) *@
@*                 { *@
@*                     @ShowTree(node.SubNodes) *@
@*                 } *@
@*             </li> *@
@*         } *@
@*     </ul> *@
@* }</text>; *@
@* } *@

@* @functions *@
@* { *@
@*     public void GenerateTreeView(List<Node> nodes) *@
@*     { *@
@*         foreach (Node node in nodes) *@
@*         { *@
@* *@
@*             GenerateTreeView(node.SubNodes); *@
@*         } *@
@*     } *@
@* } *@


@*
<ul class="category-tree">
    <li>
        <span class="caret">Beverages</span>
        <ul class="nested">
            <li>Water</li>
            <li>Coffee</li>
            <li>
                <span class="caret">Tea</span>
                <ul class="nested">
                    <li>Black Tea</li>
                    <li>White Tea</li>
                    <li>
                        <span class="caret">Green Tea</span>
                        <ul class="nested">
                            <li>Sencha</li>
                            <li>Gyokuro</li>
                            <li>Matcha</li>
                            <li>Pi Lo Chun</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
*@
