@using Logic.Helpers.TreeView
@using Microsoft.AspNetCore.Html

@model Node


<span>@Model.Entity.Name</span>
<ul class="nested">
    @foreach (Node subNode in Model.SubNodes)
    {
        <li>
            @Html.Partial("_CategorySelectList", subNode)
        </li>
    }
</ul>

@*
<ul class="category-tree">
    <li>
        <span class="caret">Beverages</span>
        <ul class="nested">
            <li>Water</li>
            <li>Coffee</li>
            <li>
                <span class="caret">Tea</span>
                <ul class="nested">
                    <li>Black Tea</li>
                    <li>White Tea</li>
                    <li>
                        <span class="caret">Green Tea</span>
                        <ul class="nested">
                            <li>Sencha</li>
                            <li>Gyokuro</li>
                            <li>Matcha</li>
                            <li>Pi Lo Chun</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
*@
