@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_NotchLayout.cshtml";
}
<div class="row">
    <div id="left-menu" class="col-3">

        <div class="left-menu-block">
            <h5>General</h5>
            <ul>
                <li><a>Title</a></li>
                <li><a>Description</a></li>
                <li><a>Price</a></li>
            </ul>
        </div>

        <div class="left-menu-block active">
            <h5>Inventory</h5>
            <ul>
                <li><a>SKU</a></li>
                <li><a>Stock quantity</a></li>
            </ul>
        </div>

        <div class="left-menu-block">
            <h5>Shipping</h5>
            <ul>
                <li><a>Weight</a></li>
                <li><a>Dimensions</a></li>
            </ul>
        </div>

        <div class="left-menu-block">
            <h5>Category</h5>
            <ul>
                <li><a>All categories</a></li>
            </ul>
        </div>

    </div>
<div class="col-6">


    <h1>Edit Product</h1>

</div>
<div id="right-menu" class="col-3">
    <ul>
        <li><a>Add new product</a></li>
        <li><a>Duplicate product</a></li>
    </ul>
</div>
</div>
