@model CartViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Shop/_ShopLayout.cshtml";
}

<div id="shop-detail-container">

    <h1>Shopping Cart</h1>
    <hr />

    <div class="cart-detail-main row">
        
        @foreach (var product in Model.Products)
        {
            <div class="product">
                <div class="product-title">@product.Name</div>
                <div class="product-amount"></div>
            </div>
        }

    </div>

</div>