@model CartViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Shop/_ShopLayout.cshtml";
}

<div id="shop-detail-container">

    <h1>Shopping Cart</h1>
    <hr />

    <div class="cart-detail-main row">
        


    </div>

</div>