@model CartViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Shop/_ShopLayout.cshtml";
}
@{ decimal total = 0; }
<div id="shop-detail-container">

    <h1>Shopping Cart</h1>
    <hr/>

    <div class="cart-detail-main">

        @foreach (var item in Model.Products)
        {
            var product = item.Value.Product;
            var amount = item.Value.Amount;
            
            total += (product.Price * amount);
            
            <div class="product row">
                <div class="product-info-group col-sm">
                    <div class="product-title">@product.Name</div>
                </div>
                <div class="product-info-group col-sm">
                    <div class="product-price">Price: @product.Price</div>
                </div>
                <div class="product-info-group col-sm">
                    <div class="product-amount">Amount: @amount</div>
                </div>
                <div class="product-info-group col-sm">
                    <div class="product-subtotal">Subtotal: @(product.Price * amount)</div>
                </div>
            </div>
        }
        
        <div class="cart-summary">
            <div class="cart-total">
                Cart total: @total
            </div>
            <button class="btn btn-primary">Go to Checkout</button>
        </div>
        

    </div>

</div>