@model ShopViewModel

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/Shop/_ShopLayout.cshtml";
}

<h2>Office</h2>

<div class="products row">

    @foreach (var product in Model.Products)
    {
        <a class="product-card" asp-controller="Shop" asp-action="Details" asp-route-id="@product.Id">
            <div class="product-header">
                <h4>@product.Name</h4>
            </div>
            <div class="product-content">
                <div class="product-description">
                    @product.Description
                </div>
                <div class="product-price">
                    @product.Price
                </div>
            </div>
        </a>

    }
    
</div>