*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

#notch-button {
    position: relative;
    top: 17px;
    left: 17px;
    color: #FFF;
}
    #notch-button img {
        display: inline-block;
        width: 40px;
        background-image: url('/assets/icon/notchbutton.svg');
        font-size: 30px;
        transition: all .6s ease-out;
    }

#notch {
    position: fixed;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    background-color: #007bff;
    border-radius: 0 0 100% 0;
    -moz-transform: scale(.9999);
    transition: all .3s ease-in;
    overflow: hidden;
    z-index: 9999;
}
    #notch:hover {
        min-width: 60vw;
        min-height: 63vh;
        transition: all .6s ease-out;
    }
    #notch:hover #notch-button img {
        transform: rotate(90deg);
    }
    #notch h4 {
        width: 100%;
        color: #FFF;
    }
    #notch ul {
        min-height: 150px;
        list-style-type: none;
        padding-left: 0;
    }
    #notch ul li a {
        color: azure;
        border-bottom: 2px solid transparent;
    }
    #notch ul li a:hover {
        cursor: pointer;
        border-bottom: 2px solid azure;
        text-decoration: none;
    }

#notch-menu {
    position: absolute;
    top: 10vh;
    left: 0;
}

#left-menu {
    text-align: right;
    padding-top: 8vh;
}
    #left-menu .left-menu-block li, #left-menu .left-menu-block h5 {
        opacity: 0.3;
    }
    #left-menu .active li, #left-menu .active h5 {
        opacity: 1;
    }
    #left-menu li:hover {
        opacity: 1;
        cursor: pointer;
    }
    #left-menu h4 {

    }

    #right-menu {
        padding-top: 8vh;
    }
    #left-menu ul, #right-menu ul {
        list-style-type: none;
        padding: 0;
    }
.edit-header {
    padding: 10px 0 0 0;
}
.edit-header .float-right {
    padding-top: 10px;
}

#notch-collection-container {
    padding: 0 125px;
}
.notch-card {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* .notch-card .notch-card-title { */
/* */
/* } */
/* .notch-card .notch-card-content { */
/* */
/* } */





@media (min-width: 1200px) {
    .container {
        max-width: 950px;
        min-width: 950px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 860px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container { max-width: 540px; }
}